@{
    ViewData["Title"] = "Registry Page";
}

<h2>Welcome!</h2>

<form method="post" asp-area="" asp-controller="Home" asp-action="AddUser">
        <div>
           Hi bro! What is your brain chip name?:
        </div>
        <input class="name-input" type="text" value="" id="playerName" name="playerName">
     <button type="submit">Start</button>
</form>